<div style="height: 100%;min-height: 100vh;" class="bg-danger p-2 text-light d-flex flex-column align-items-center">
    <h5 class="mb-5 p-4 text-center rounded shadow text-danger-emphasis border">
      <i class="fa-solid fa-utensils me-1"></i> CookPedia Admin
    </h5>
    <a routerLink="/admin" class="w-100 ms-5 text-decoration-none text-light fw-bolder text-start mb-4">
      <i class="fa-solid fa-chart-simple me-1"></i> DashBoard
    </a>
    <a routerLink="/admin/recipe-list" class="w-100 ms-5 text-start text-decoration-none text-light fw-bolder mb-4">
      <i class="fa-solid fa-bowl-food me-1"></i> Recipe List
    </a>
    <a routerLink="/admin/user-list" class="w-100 ms-5 text-start text-decoration-none text-light fw-bolder mb-4">
      <i class="fa-solid fa-users me-1"></i> Users List
    </a>
    <a routerLink="/admin/download-list" class="w-100 ms-5 text-start text-decoration-none text-light fw-bolder mb-4">
      <i class="fa-solid fa-download me-1"></i> Download List
    </a>
    <a routerLink="/admin/request-list" class="w-100 ms-5 text-start text-decoration-none text-light fw-bolder mb-4">
      <i class="fa-solid fa-message me-1"></i> Request List
    </a>
  </div>
  