<nav class="navbar container bg-danger navbar-expand-lg mt-5">
    <div class="container-fluid">
      <a class="navbar-brand ms-2 text-light fw-bolder" routerLink="/">
        <i class="fa-solid fa-utensils me-3"></i>
        CookPedia
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto me-auto">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/all-recipies">Recipies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/about">About</a>
          </li>
        </ul>
      </div>
      <div class="ms-auto me-3">
        <div class="dropdown ">
            <button class="btn text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid text-light fa-user-large me-2"></i>
            </button>
            <ul class="dropdown-menu w-50">
              <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
            </ul>
          </div>
        
      </div>
    </div>
  </nav>