<div style="height: 400px;" class="container mb-5 bg-danger text-light p-5">
    <div class="row">
    <div class="col-lg-4">
        <h3><i class="fa-solid fa-utensils me-3"></i>
            CookPedia</h3>
            <p class="mb-5" style="text-align: justify;">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
           
        </div>
     <div class="col-lg-3"></div>
     <div class="col-lg-4">
        <div class="row">
            <form>
                <h5>Subscribe to our newsletter</h5>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-light" type="button"><i class="fa-solid text-danger fa-arrow-right"></i></button>
                </div>
              </form>
        </div>
     <div class="row  mt-4">
        <div class="col-4">
            <h5>Pages</h5>
             <a routeLinl="/" class="nav-link p-0 text-light">Home</a>
             <a routeLinl="/" class="nav-link p-0 text-light">Recipes</a>
             <a routeLinl="/" class="nav-link p-0 text-light">Contact</a>
             <a routeLinl="/" class="nav-link p-0 text-light">About</a>
             <a routeLinl="/" class="nav-link p-0 text-light">Profile</a>
            
          </div>
      
          <div class="col-4">
            <h5>Help</h5>
            <a routeLinl="/" class="nav-link p-0 text-light">Login</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Register</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Terms of Use</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Privacy and Policy</a>
           
          </div>
          <div class="col-4">
            <h5>Connect</h5>
            <a routeLinl="/" class="nav-link p-0 text-light">Facebook</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Whatsapp</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Instagram</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Telegram</a>
            <a routeLinl="/" class="nav-link p-0 text-light">Twitter</a>
           
          </div>
     </div>
     
     </div>
       
     <div class="d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
        <p>&copy; 2022 CookPedia, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
   

    
  </div>


